<% provide(:title, 'Информация') %>

<h1>Электрический двигатель</h1> 
</br>
</br>

<p>Любой электрический двигатель предназначен для совершения механической работы за счет расхода приложенной к нему электроэнергии, которая преобразуется, как правило, во вращательное движение. Хотя в технике встречаются модели, которые сразу создают поступательное движение рабочего органа. Их называют линейными двигателями.</p>

<p>В промышленных установках электромоторы приводят в действие различные станки и механические устройства, участвующие в технологическом производственном процессе. </p>

<p>Внутри бытовых приборов электродвигатели работают в стиральных машинах, пылесосах, компьютерах, фенах, детских игрушках, часах и многих других устройствах.</p> 

<p>Основные физические процессы и принцип действия </p>

<p>На движущиеся внутри магнитного поля электрические заряды, которые называют электрическим током, всегда действует механическая сила, стремящаяся отклонить их направление в плоскости, расположенной перпендикулярно ориентации магнитных силовых линий. Когда электрический ток проходит по металлическому проводнику или выполненной из него катушке, то эта сила стремится подвинуть/повернуть каждый проводник с током и всю обмотку в целом. </p>

<p>На картинке ниже показана металлическая рамка, по которой течет ток. Приложенное к ней магнитное поле создает для каждой ветви рамки силу F, создающую вращательное движение.</p>
<p>Это свойство взаимодействия электрической и магнитной энергии на основе создания электродвижущей силы в замкнутом токопроводящем контуре положено в работу любого электродвигателя. В его конструкцию входят: </p>

<p>обмотка, по которой протекает электрический ток. Ее располагают на специальном сердечнике-якоре и закрепляют в подшипниках вращения для уменьшения противодействия сил трения. Эту конструкцию называют ротором; </p>

<p>статор, создающий магнитное поле, которое своими силовыми линиями пронизывает проходящие по виткам обмотки ротора электрические заряды; </p>

<p>корпус для размещения статора. Внутри корпуса сделаны специальные посадочные гнезда, внутри которых вмонтированы внешние обоймы подшипников ротора. </p>

<p>Упрощенно конструкцию наиболее простого электродвигателя можно представить картинкой следующего вида.</p>
<p>При вращении ротора создается крутящий момент, мощность которого зависит от общей конструкции устройства, величины приложенной электрической энергии, ее потерь при преобразованиях. </p>

<p>Величина максимально возможной мощности крутящего момента двигателя всегда меньше приложенной к нему электрической энергии. Она характеризуется величиной коэффициента полезного действия. </p>

<p>Виды электродвигателей </p>

<p>По виду протекающего по обмоткам тока их подразделяют на двигатели постоянного или переменного тока. Каждая из этих двух групп имеет большое количество модификаций, использующих различные технологические процессы. </p>

<p>Электродвигатели постоянного тока </p>

<p>У них магнитное поле статора создается стационарно закрепленными постоянными магнитами либо специальными электромагнитами с обмотками возбуждения. Обмотка якоря жестко вмонтирована в вал, который закреплен в подшипниках и может свободно вращаться вокруг собственной оси. </p>

<p>Принципиальное устройство такого двигателя показано на рисунке.</p>