<% provide(:title, 'Информация') %>

<h1>Электропривод</h1>
</br>
</br>
<p>Любая машина состоит из трех основных частей: двигателя, передаточного механизма к исполнительного органа. Для того чтобы технологическая машина выполняла свои функции, её исполнительные органы должны выполнять вполне определенные перемещения, которые осуществляются с помощью привода. </p>

<p>В общем случае привод может быть ручной, конный, механический, а также от ветряного двигателя, водяного колеса, паровой или газовой турбины, двигателя внутреннего сгорания, пневматического, гидравлического или электрического двигателя. Привод является основным структурным элементом любой технологической машины, его основная задача - обеспечить требуемое перемещение исполнительного органа машины по заданному закону. Современную технологическую машину можно представить как комплекс взаимодействующих приводов объединенные системой управления, обеспечивающей исполнительным органам требуемые перемещения по сложным траекториям. </p>

<p>В процессе развития промышленного производства электрический привод занял в промышленности и в быту первое место по количеству и суммарной установленной мощности двигателей. В любом электроприводе можно выделить силовую часть, по которой энергия передается от двигателя исполнительному органу, и систему управления, обеспечивающую требуемое его перемещение по заданному закону. </p>

<p>Определение электропривода с развитием техники уточнялось и расширялось как в сторону механики, так и в сторону систем управления. В изданной в 1935 году книге «Применение электродвигателей в промышленности» профессором Ленинградского индустриального института В. К. Поповым было приведено следующее определение регулируемого электропривода: "Регулируемым двигателем и приводом мы называем такой, у которого можем менять скорость независимо от нагрузки".</p>