<% provide(:title, 'Home') %>
<div class="home-table">
  <%# 
  <h1>Авторизация</h1> %>
 <%#  <%= link_to "Войти в систему", signup_path, class: "btn btn-large btn-primary" %>



 
 <div id="modal" class="popupContainer" style="display:none;">
                <header class="popupHeader">
                        <span class="header_title">Авторизация</span>
                        <span class="modal_close"><i class="fa fa-times"></i></span>
                </header>

                <section class="popupBody">
                        <!-- Social Login -->
                        <div class="social_login">

                                <div class="action_btns">
                                        <div class="one_half"><%= link_to 'Войти', new_user_session_path , id:"login_form", class:"btn" %>
                                        <div class="one_half last"><a href="#" id="register_form" class="btn">Регистрация</a></div>
                                </div>
                        </div>

                        <!-- Username & Password Login form -->
                        <div class="user_login">
                                <form>
                                        <label>Email</label>
                                        <input type="text" />
                                        <br />

                                        <label>Пароль</label>
                                        <input type="password" />
                                        

                                        
                                        <div class="checkbox">
                                                <input id="remember" type="checkbox" />
                                                <label for="remember">Запомнить пароль</label>
                                        </div>
                                        <br />
                                        <a href="#" class="forgot_password">Забыли пароль?</a>


                                        <div class="action_btns">
                                                <div class="one_half"><a href="#" class="btn btn_red back_btn"><i class="fa fa-angle-double-left"></i> Назад</a></div>
                                                <div class="one_half last"><a href="#" class="btn btn_red">Войти</a></div>
                                        </div>
                                </form>

                                
                        </div>

                        <!-- Register Form -->
                        <div class="user_register">
                                <form>
                                        <label>Имя</label>
                                        <input type="text" />
                                        <br />

                                        <label>Фамилия</label>
                                        <input type="text" />
                                        <br />

                                        <label>Email</label>
                                        <input type="email" />
                                        <br />

                                        <label>Пароль</label>
                                        <input type="password" />
                                        <br />

                                        <label>Подтверждение пароль</label>
                                        <input type="password" />
    									<br />
                                        

                                        <div class="action_btns">
                                                <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Назад</a></div>
                                                <div class="one_half last"><a href="#" class="btn btn_red">Зарегистрировать</a></div>
                                        </div>
                                </form>
                        </div>
                </section>
        </div>
        <script type="text/javascript">
    $("#modal_trigger").leanModal({top : 70, overlay : 0.6, closeButton: ".modal_close" });

    $(function(){
        // Calling Login Form
        $("#login_form").click(function(){
            $(".social_login").hide();
            $(".user_login").show();
            return false;
        });

        // Calling Register Form
        $("#register_form").click(function(){
            $(".social_login").hide();
            $(".user_register").show();
            $(".header_title").text('Регистрация');
            return false;
        });

        // Going back to Social Forms
        $(".back_btn").click(function(){
            $(".user_login").hide();
            $(".user_register").hide();
            $(".social_login").show();
            $(".header_title").text('Авторизация');
            return false;
        });

    })
</script>

<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
				<div class="desc">
					<div class="container">
						<div class="row">

							

							<div class="col-sm-6 col-md-6">
								<div class="tabulation animate-box">

								  <!-- Nav tabs -->
								   <ul class="nav nav-tabs" role="tablist">
								      <li role="presentation" class="active">
								      	<a href="#" aria-controls="searchTour" role="tab" data-toggle="tab">Подбор тура</a>
								      </li>
								   </ul>

								   <!-- Tab panes -->
									<div class="tab-content">
									 <div role="tabpanel" class="tab-pane active" id="flights">
										<div class="row">

											<div class="col-xxs-12 col-xs-6 mt">
												<div class="input-field">
													<label for="from">Откуда</label>
													<input type="text" class="form-control" id="from-place" placeholder="Москва,Волгоград"/>
												</div>
											</div>

											<div class="col-xxs-12 col-xs-6 mt alternate">
												<div class="input-field">
													<label for="date-start">Дата начала</label>
													<input type="text" class="form-control" id="datepicker" placeholder="mm/dd/yyyy"/>
												</div>
											</div>

											<div class="col-xxs-12 col-xs-6 mt">
												<div class="input-field">
													<label for="from">Страна</label>
													<input type="text" class="form-control" id="to-country" placeholder="Абхазия,Россия"/>
												</div>
											</div>

											<div class="col-xxs-12 col-xs-6 mt">
												<div class="input-field">
													<label for="from">Город</label>
													<input type="text" class="form-control" id="to-city" placeholder="Сухум,Барнаул"/>
												</div>
											</div>

											
											
											<div class="ol-xxs-6 col-xs-6 mt ">
												<section>
													<label for="class">Количество ночей от </label>
													<select class="cs-select cs-skin-border  ">
														<option value="1" selected>1</option>
														
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="4">5</option>
														<option value="4">6</option>
														<option value="4">7</option>
														<option value="4">8</option>
													</select>
												</section>
											</div>
											<div class="ol-xxs-6 col-xs-6 mt ">
												<section>
													<label for="class"> до </label>
													<select class="cs-select cs-skin-border">
														<option value="7"  selected>7</option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="4">5</option>
														<option value="4">6</option>
														
														<option value="4">8</option>
													</select>
												</section>
											</div>

											

											<div class="col-xxs-12 col-xs-6 mt">
												<section>
													<label for="class">Взрослые</label>
													<select class="cs-select cs-skin-border">
														<option value="2"  selected>2</option>
														<option value="1">1</option>
														
														<option value="3">3</option>
														<option value="4">4</option>
														<option value="4">5</option>
														<option value="4">6</option>
													</select>
												</section>
											</div>

											<div class="col-xxs-12 col-xs-6 mt">
												<section>
													<label for="class">Дети</label>
													<select class="cs-select cs-skin-border">
														<option value="0"  selected>0</option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
													</select>
												</section>
											</div>

											<div class="col-xxs-12 col-xs-6 mt">
												<p><%= link_to "Расширенный поиск", tourRequest_path %></p>
											</div>

											<div class="col-xs-12">
												<input type="submit" class="btn btn-primary btn-block" value="Поиск">
											</div>
										</div>
									 </div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>