@import "bootstrap";


/* --------------- reset.css --------------- */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"],input[type="email"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}

input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */
















html{
	overflow-y: scroll;
}
body{
 background: #C0D4BC;
 /* background: linear-gradient(to right, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.7) 100%);
  */
}

.home-table, footer{
		margin-top: 20px;
	}



/* --------------- HEADER --------------- */


.sticky-banner{
   
 background: #B0B7C1;
}
.top-logotip{
  letter-spacing: -1px;
    padding-top: 70px;
  font-weight: bold;
    line-height: 1;
    margin-bottom: 35px;

    
    a{ 
      font-size: 58px;
      color: #756D6A!important;
    
  }

}

.top-informat {
 text-align:center;
 color: #69696C;
 font-size:27px;

}

.top-spisok{

	text-align:center;
}


#firstul {
 font-size: 27px;

 a{ 
  		color: #69696C;
 		
	}
	a:hover{
	color: #094809;

	}
}
#secondul li {
 }

#secondul {
 font-size: 18px;
 padding: 0;
 margin: 0 auto;
 border: outset 1px ;
 border-collapse: collapse;

 
}
#secondul ul {
 list-style: none;
 margin: 0;
 padding: 0
}
#secondul li {
 border: outset 1px #FF9900;
 display: inline;
 float: left;
 font-size: 26.5px;

	a{ 
  		color: #69696C;
 		
	}
a:hover{
	color: #094809;
}
}

@media screen and (max-width: 768px) {
 #secondul {
    width:100%;
  }
}


#setupdrop li{
  border: none;
  text-align: center;
}

.top-menu {
  width:1000px;
   margin:0 auto;
}


/* --------------- HEADER --------------- */


/* FOOTER*/

footer {
  background: #393e46;
  border: outset 5px #F78536;
}
footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}
footer p a {
  color: rgba(255, 255, 255, 0.5);
}
footer p a:hover, footer p a:active, footer p a:focus {
  color: rgba(255, 255, 255, 0.9) !important;
}
footer .footer-block1 {
  padding-bottom: 30px;
  a{ 
  		color: #69696C;
 		font-family: 'Marck Script', cursive!important;
	}
	a:hover{
	color: #F78536;

	}
}
footer .footer-block1 h3 {
  margin-top: 30px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 25px;
}
footer .footer-block1 li, footer .footer-block1 ul {
  padding: 0;
  margin: 0;
}
footer .footer-block1 li {
  list-style: none;
  margin-bottom: 15px;
  line-height: 1.3;
  font-size: 25px;
}
footer .footer-block1 li a {
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-block1 li a:hover, footer .footer-block1 li a:active, footer .footer-block1 li a:focus {
  color: #fff !important;
}


.name {
	float:right;
	padding-right: 40px; 
}
.mail {
	float:left;
	padding-left: 20px;
}


#firstul{
  color: #69696C;
    font-family: 'Marck Script', cursive!important;
}

/* FOOTER*/





/* --------------- HOME--------------- */


.toptour{
  padding-top: 15px;
  padding-bottom: 30px;
}

.tabulation {
  width: 100%;
  float: left;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -ms-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -o-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
}
.tabulation label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .tabulation label {
    width: 40%;
  }
}
.tabulation input[type="text"] {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  
}
.tabulation input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(247,133,54,0.6) !important;
}
.tabulation input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(247,133,54,0.6) !important;
}
.tabulation input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(247,133,54,0.6) !important;
}
.tabulation input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(247,133,54,0.6) !important;
}
@media screen and (max-width: 480px) {
  .tabulation input[type="text"] {
    width: 55%;
    float: right;
  }
}
@media screen and (max-width: 480px) {
  .tabulation .cs-select {
    width: 55%;
    float: right;
  }
}

.tab-content {
  padding: 30px;
}
.tab-content .btn {
  border: 1px solid red !important;
}

div.cs-select {
    display: inline-block;
.nav-tabs {
  border: none;
}
.nav-tabs a {
  border: none !important;
  font-weight: bold;
  padding: 15px 20px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
  .nav-tabs a {
    font-weight: normal;
    font-size: 13px;
    padding: 15px 10px !important;
  }
}
.nav-tabs .active a {
  border: none !important;
  background: #F78536 !important;
  color: #fff !important;
  font-weight: bold;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.nav-tabs:hover a, .nav-tabs:focus a {
  border: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.mt {
  margin-bottom: 20px;
}

.mt section{
	float:left;
	padding-left: 5px;
}
.cs-skin-border {
  font-size: 16px;
  width:70px;
  
}
#maxi1 {
  width:100px;
}

#maxi2 {
  width:180px;
}






/* --------------- HOME--------------- */



.btn-mini{
  background: #F78536;
  color: #fff;

}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}
.btn.btn-primary {
  background: #F78536;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #F78536;
  color: #fff !important;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}

.black{
  background: #393e46;
}
#titl0{
  text-align:center;

}
#titl{
  white-space: nowrap;
  text-align: center;
}

#titl1{
  font-size:25px;
  font-weight:bold;
  margin-bottom: 20px;
  margin-top: 10px;

}

#titl2{
text-align: center;
font-size:18px;
  font-weight:bold;
}

.form-inputs{
  width: 100%;
}
.floating-box{
  display: inline-block;
  margin-left: 30px;
  
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* forms */


.desc{
   width:1000px;
   margin:0 auto;
}



.tourss {
    overflow: hidden;
    margin-bottom: 9px;
    background: #F1ECEB;
    color: #69696C;
    

}

.new-tour, .new-tour > div {
    height: 131px;
    box-sizing: border-box;
}

.new-tour {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 100%;
    font-size: 18px;
 padding: 0;
 margin: 0 auto;
 border: outset 5px #F78536;
 font-weight: bold;
  }

.new-tour > div {
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
}

div.new-tour #abbvc  {
    position: absolute;
    z-index: 15;
    width: 175px;
    height: 120px;
    display: block;
}
.new-tour > div {
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
}
.new-tour-info {
    padding: 5px 0 20px 0;
    box-sizing: border-box;
    min-width: 130px;
    text-align: center;
    position: relative;
    margin-left: 70px;

}

.nt-fullwidth .new-tour-info, .nt-fullwidth .new-tour-people {
    width: 192px;
}

.new-tour-resort, .new-tour-nights, .new-tour-dates {
    padding-bottom: 4px;
}
.new-tour-nights {
   
}

.nt-fullwidth .new-tour-hotel {
    width: 393px;
}

.new-tour-hotel > div, .new-tour-hotel > a {
    margin: 0 auto;
}

.new-tour-name {
    font-weight: bold;
    font-size: 30px;
    color: #F78536;
    padding-bottom: 1px;
}

.nt-fullwidth .new-tour-buy {
    width: 186px;
}
.new-tour-buy {
    text-align: center;
   padding-top: 5px; 
}

.new-tour-money{
  font-size: 30px;
   color: #F78536;
   font-weight: bold;
}






.geke-filter{
            width:188px;
            overflow:hidden;
            background:#fff;
            font:normal 12px/16px Verdana, Arial, sans-serif;
            text-align:left;
        }
        .geke-filter-item{
            border-left:1px solid #e0e0e0;
            border-right:1px solid #e0e0e0;
            border-top:1px solid #b2b2b2;
            position:relative;
        }
        .geke-filter-item .cancel-button{
            position:absolute;
            top:6px;
            right:6px;
            z-index:10;
            width:15px;
            height:15px;
            background:url(cancel-button.png) center center no-repeat;
            text-decoration:none;
            display:none;
        }
        .geke-filter-item h4{
            background:#f7f7f7;
            margin:0;
            padding:7px 8px;
            font-weight:bold;
            color:#586774;
            position:relative;
            z-index:1;
        }
        .geke-filter-item ul{
            margin:0;
            padding:10px 0;
            overflow-y:scroll;
            overflow-x:hidden;
            border-bottom:1px solid #b2b2b2;
            max-height:200px;
            position:relative;
            z-index:1;
        }
        .geke-filter-item ul li{
            display:block;
            overflow:hidden;
            color:#586774;
        }
        .geke-filter-item ul li:hover{
            cursor:pointer;
        }        
        .geke-filter-item ul li span{
            display:inline-block;
            margin:-2px 5px 0 0;
            height:12px;
            width:12px;
            border:1px solid #b3b3b3;
            vertical-align:middle;
        }
        .geke-filter-item ul li.active span{
            background:#da2031 url(list-selected.png) center center no-repeat;
            border:1px solid #da2031;
        }        
        .geke-filter-item.list li{
            line-height:18px;             
            padding:4px 0 4px 7px;      
        }
        .geke-filter-item.list li:hover{
            background:#f7f7f7;
        }
        .geke-filter-item.calendar li{
            line-height:23px;    
            height:23px; 
            width:31px;
            text-align:center;
            border:1px solid #b3b3b3;
            border-radius:3px;
            float:left; 
            margin:0 0 5px 7px;  
            display:table;    
        }
        .geke-filter-item.calendar li:hover{            
            border:1px solid #586774;
        }
        .geke-filter-item.calendar li.active{
            background:#da2031;
            border:1px solid #da2031;
            color:#fff;
        }
        .geke-filter-checkbox{
            width:14px;
            display:table-cell;           
        }
        .geke-fliter-list-text{
            display:table-cell;
        }
        .geke-filter-item_submit{
            padding:10px 0;
            text-align:center;
            background:#f7f7f7;
        }
        .geke-filter-item_submit a{
            display:inline-block;
            text-decoration:none;
            border:2px solid #bcbcbc;
            border-radius:3px;
            color:#303031;
            font-weight:bold;
            font-size:11px;
            line-height:20px;
            height:20px;
            text-align:center;
            width:156px;
            background:#e3e4e6;
            box-shadow:inset 2px 5px 3px 1px rgba(255,255,255,1)
        }
        .slider_values{
            overflow:hidden;
            padding:0 7px 12px;            
        }
        .geke-filter-slider-value-left,.geke-filter-slider-value-right{
            display:inline-block;
            float:left;
            font-size:12px;
            color:#586774;
        }
        .geke-filter-slider-value-right{
            float:right;
        }
        .geke-filter-reset{
            padding:8px 0;
            text-align:center;
            background:#fff;
        }
        .geke-filter-reset a{
            font:normal 11px/12px Tahoma, Verdana, Arial, sans-serif;
            color:#4786e2;
            text-decoration:none;
            display:inline-block;
            border-bottom:1px dashed #4786e2;
        }
        .geke-filter-reset a:hover{
            border-bottom:1px dashed transparent;
        }
        /* jQuery UI Slider, стили здесь, чтобы не тащить весь нативный css */
        .ui-corner-all {
            border-radius:2px;
        }
        .ui-widget-content {
            background:#fff;            
            color:#222;
            margin:11px 12px 17px;
            position:relative;
        }
        .ui-widget {           
            
        }
        .ui-slider-horizontal {
            height:7px;
            background:#f7f7f7;
            box-shadow:inset 0 0 0 1px rgba(179,179,179,1);
        }
        .ui-slider {
            position:relative;
            text-align:left;
        }
        .ui-slider-horizontal .ui-slider-range {
            height:100%;
            top:0;
        }
        .ui-slider .ui-slider-range {
            background:#da2031;
            border:0 none;
            display:block;           
            position:absolute;
            z-index:1;
        }
        .ui-widget-header {
            background:#ccc;            
            color:#222;
            font-weight:bold;
        }
        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            background:#e6e6e6;           
            color:#555;
            font-weight:normal;
        }
        .ui-slider-horizontal .ui-slider-handle {
            
        }
        .ui-slider .ui-slider-handle {
            cursor:default;
            height:22px;
            position:absolute;
            width:13px;
            z-index:2;
            background:url(slider.png) top center no-repeat;
            margin:-4px 0 0 -7px;
            cursor:pointer;
        }
        /* end of jQuery UI Slider */