@import "bootstrap";


/* --------------- reset.css --------------- */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"],input[type="email"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}

input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */
















html{
	overflow-y: scroll;
}
body{
 background: #E8BB99
 /* background: linear-gradient(to right, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.7) 100%);
  */
}

.home-table, footer{
		margin-top: 20px;
	}



/* --------------- HEADER --------------- */

.sticky-banner{
	 
 background: #F1ECEB;
}

.top-logotip{
	letter-spacing: -1px;
  	padding-top: 70px;
 	font-weight: bold;
  	line-height: 1;
  	
  	a{ 
  		font-size: 60px;
  		color: #F78536!important;
 		font-family: 'Marck Script', cursive!important;
	}
}

.top-informat {
 text-align:center;
 color: #69696C;
 font-family: 'Marck Script', cursive;
 font-size:27px;

}

.top-spisok{
	text-align:center;
}


#firstul {
 font-size: 27px;

 a{ 
  		color: #69696C;
 		font-family: 'Marck Script', cursive!important;
	}
	a:hover{
	color: #F78536;

	}
}
#secondul li {
 }

#secondul {
 font-size: 18px;
 padding: 0;
 margin: 0 auto;
 border: outset 5px #F78536;
 border-collapse: collapse;

 
}
#secondul ul {
 list-style: none;
 margin: 0;
 padding: 0
}
#secondul li {
 border: outset 1px #FF9900;
 display: inline;
 float: left;
 font-size: 26.5px;

	a{ 
  		color: #69696C;
 		font-family: 'Marck Script', cursive!important;
	}
a:hover{
	color: #F78536;
}
}

@media screen and (max-width: 768px) {
 #secondul {
    width:100%;
  }
}


/* --------------- HEADER --------------- */


/* FOOTER*/

footer {
  background: #393e46;
  border: outset 5px #F78536;
}
footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}
footer p a {
  color: rgba(255, 255, 255, 0.5);
}
footer p a:hover, footer p a:active, footer p a:focus {
  color: rgba(255, 255, 255, 0.9) !important;
}
footer .footer-block1 {
  padding-bottom: 30px;
  a{ 
  		color: #69696C;
 		font-family: 'Marck Script', cursive!important;
	}
	a:hover{
	color: #F78536;

	}
}
footer .footer-block1 h3 {
  margin-top: 30px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 25px;
}
footer .footer-block1 li, footer .footer-block1 ul {
  padding: 0;
  margin: 0;
}
footer .footer-block1 li {
  list-style: none;
  margin-bottom: 15px;
  line-height: 1.3;
  font-size: 25px;
}
footer .footer-block1 li a {
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-block1 li a:hover, footer .footer-block1 li a:active, footer .footer-block1 li a:focus {
  color: #fff !important;
}


.name {
	float:right;
	padding-right: 40px; 
}
.mail {
	float:left;
	padding-left: 20px;
}


#firstul{
  color: #69696C;
    font-family: 'Marck Script', cursive!important;
}

/* FOOTER*/





/* --------------- HOME--------------- */


.toptour{
  padding-top: 15px;
}

.tabulation {
  width: 100%;
  float: left;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -ms-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  -o-box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 43px 83px -20px rgba(0, 0, 0, 0.41);
}
.tabulation label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .tabulation label {
    width: 40%;
  }
}
.tabulation input[type="text"] {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  
}
.tabulation input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(247,133,54,0.6) !important;
}
.tabulation input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(247,133,54,0.6) !important;
}
.tabulation input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(247,133,54,0.6) !important;
}
.tabulation input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(247,133,54,0.6) !important;
}
@media screen and (max-width: 480px) {
  .tabulation input[type="text"] {
    width: 55%;
    float: right;
  }
}
@media screen and (max-width: 480px) {
  .tabulation .cs-select {
    width: 55%;
    float: right;
  }
}

.tab-content {
  padding: 30px;
}
.tab-content .btn {
  border: 1px solid red !important;
}

div.cs-select {
    display: inline-block;
.nav-tabs {
  border: none;
}
.nav-tabs a {
  border: none !important;
  font-weight: bold;
  padding: 15px 20px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
  .nav-tabs a {
    font-weight: normal;
    font-size: 13px;
    padding: 15px 10px !important;
  }
}
.nav-tabs .active a {
  border: none !important;
  background: #F78536 !important;
  color: #fff !important;
  font-weight: bold;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.nav-tabs:hover a, .nav-tabs:focus a {
  border: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.mt {
  margin-bottom: 20px;
}

.mt section{
	float:left;
	padding-left: 5px;
}
.cs-skin-border {
  font-size: 16px;
  width:70px;
  
}

.maxi {
  width:200px;
}






/* --------------- HOME--------------- */





.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}
.btn.btn-primary {
  background: #F78536;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #F78536;
  color: #fff !important;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}



@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */






// login
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
        position:absolute;
        width:520px;
        height: auto;
        left:45%;
        top:80px;
        background: #FFF;
}

#modal_trigger { display:block;}

.btn {padding:10px 20px; background: #F78536;}
.btn_red {background: #F78536; }

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #C12B05;}

a.btn {color:#fff; text-align: center; text-decoration: none;}
a.btn_red {color: #fff;}

.one_half {width:45%; display: block; float:left;}
.one_half.last {width:50%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F78536; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#F78536; cursor: pointer; color:#fff; font-size:16px;}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; background:rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; background:rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 1px; clear: both; overflow: hidden;}