@import "bootstrap";

html{
	overflow-y: scroll;
}
body{
 background: #E8BB99
 /* background: linear-gradient(to right, rgba(255, 62, 28, 0.5) 0%, rgba(255, 140, 0, 0.7) 100%);
  */
}
	
.sticky-banner{
	 border: solid 1px #F78536;
 background: #F1ECEB;
}

.top-logotip{
	letter-spacing: -1px;
  	padding-top: 70px;
 	font-weight: bold;
  	line-height: 1;
  	
  	a{ 
  		font-size: 60px;
  		color: #F78536!important;
 		font-family: 'Marck Script', cursive!important;
	}
}

.top-informat {
 text-align:center;
 color: #69696C;
 font-family: 'Marck Script', cursive;
 font-size:27px;

}

.top-spisok{
	text-align:center;
}


#firstul {
 font-size: 27px;

 a{ 
  		color: #69696C;
 		font-family: 'Marck Script', cursive!important;
	}
	a:hover{
	color: #F78536;

	}
}
#secondul li {
 }

#secondul {
 font-size: 18px;
 padding: 0;
 margin: 0 auto;
 border: outset 5px #F78536;
 border-collapse: collapse;

 
}
#secondul ul {
 list-style: none;
 margin: 0;
 padding: 0
}
#secondul li {
 border: outset 1px #FF9900;
 display: inline;
 float: left;
 font-size: 27.5px;

	a{ 
  		color: #69696C;
 		font-family: 'Marck Script', cursive!important;
	}
a:hover{
	color: #F78536;
}
}



footer {
  background: #393e46;
  border: outset 5px #F78536;
}
footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}
footer p a {
  color: rgba(255, 255, 255, 0.5);
}
footer p a:hover, footer p a:active, footer p a:focus {
  color: rgba(255, 255, 255, 0.9) !important;
}
footer .footer-block1 {
  padding-bottom: 30px;
  a{ 
  		color: #69696C;
 		font-family: 'Marck Script', cursive!important;
	}
	a:hover{
	color: #F78536;

	}
}
footer .footer-block1 h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 25px;
}
footer .footer-block1 li, footer .footer-block1 ul {
  padding: 0;
  margin: 0;
}
footer .footer-block1 li {
  list-style: none;
  margin-bottom: 15px;
  line-height: 1.3;
  font-size: 25px;
}
footer .footer-block1 li a {
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-block1 li a:hover, footer .footer-block1 li a:active, footer .footer-block1 li a:focus {
  color: #fff !important;
}


.name {
	float:right;
	padding-right: 20px; 
}
.mail {
	float:left;
	padding-left: 20px;
}



.home-table{
	border: outset 5px #F78536;
}